streamlit
pandas
numpy
scikit-learn
joblib
matplotlib
seaborn

# To create a virtual environment locally 
# python3 -m venv .venv
# source .venv/bin/activate  # Linux/Mac
# .venv\Scripts\activate     # Windows
# pip install -r requirements.txt
